<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/СollaborativePresentationSoftware.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar bg-light">
            <div class="container-fluid">
                <div>
                    <span class="navbar-brand mb-0">PresentationApp</span>
                </div>
                <div>
                    <h2>Users</h2>
                </div>
                <div class="btn-group rounded-pill">
                    <a asp-controller="Enter" asp-action="SingIn" class="btn  btn-outline-secondary">SingIn</a>
                    <a asp-controller="Enter" asp-action="LogIn" class="btn btn-primary">LogIn</a>                  
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Login</th>
                    <th scope="col">Email</th>
                    <th scope="col">Registered at</th>
                    <th scope="col">Last Login at</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <thead>
                @RenderBody()
            </thead>
        </table>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
